
<head>
</head>

<div class="container mt-5 mb-5" >
		<div class="col-lg-4 col-md-6 col-sm-12 text-center position" style="background-color: #F5F5F5;">
			<h3 style="color: #0000AA;" class="text-center">Réservation pour une prestation</br> SHAA'M Beauty</h3><br>
			<form action="/booking" method="POST">
				<input type="hidden" name="userphone" value={{user.phonenumber}}>
				<input type="hidden" name="username" value={{user.name}}>
				<label>Date souhaitée de rendez-vous au format JJ/MM/AAAA</label>
                <div class="form-group">
                    <div class='input-group date' id='prefereddate'>
                        <input type='text' name="bookingdate" class="form-control" pattern="^\d{2}/\d{2}/\d{4}$" placeholder="Date souhaitée" required/>
                        <span class="input-group-addon">  
							<span class ="fa fa-calendar"></span>
                        </span>
                    </div>
					
					<script>
						$(function() {
							$('#prefereddate').datetimepicker({format:'DD/MM/YYYY'});
						});
					</script>
					
                </div>

				<label>Heure souhaitée de rendez-vous au format HH:MM:SS</label>
                <div class="form-group">
                    <div class='input-group date' id='prefredtime'>
                        <input type='text' name="bookingtime" class="form-control" pattern="^\d{2}:\d{2}:\d{2}$" placeholder="Heure souhaitée" required/>
                        <span class="input-group-addon">  
							<span class ="fas fa-clock" style="width:16px;"></span>
                        </span>
                    </div>
					
					<script>
						$(function() {
							$('#prefredtime').datetimepicker({format:'HH:mm:ss'});
						});
					</script>
                </div>
				
				<input type="submit" value="Je Réserve" class="btn btn-info" style="margin: 5px; color:#000;">
			</form>
		</div>
		
</div>

