<div class="slider-active dot-style" style="position: relative; width:100%; padding-bottom:5px; margin-top:0.5%; background-color: #ccc;">
		<span style="margin-left:0.4%; ">
		<img class="img-fluid" style="width: 32%; padding: 5px;" src="/img/shaambeauty-prospect.jpg" alt="SHAA'M Beauty"></img>
		<img class="img-fluid" style="width: 33%; padding: 5px;" src="/img/shaam-beauty.jpg" alt="SHAA'M Beauty"></img>
		<img class="img-fluid" style="width: 33%; padding: 5px; border-color: orange;" src="/img/shaam-beauty-4.jpg" alt="SHAA'M Beauty 1"></img>
        <!--
		<img class="img-fluid" style="height: 492px;" src="/img/shaam-beauty-2.jpg" alt="SHAA'M Beauty 1"><h5 class="img3-txt">L'entrée du salon</h5></img>
		<img class="img-fluid" style="height: 492px;" src="/img/shaam-beauty-3.jpg" alt="SHAA'M Beauty 1"><h5 class="img4-txt">Des postes de travail</h5></img>
		<img class="img-fluid" style="height: 492px;" src="/img/shaam-beauty-4.jpg" alt="SHAA'M Beauty 1"><h5 class="img5-txt">Salle principale</h5></img>
        -->
		</span>
	</div>
</div>
